@import '../../../styles/colors';

.movie-item{
  position: relative;
  display: block;
  min-height: 325px;
  border-radius: 5px;
  opacity: 0.75;
  background-color: $bgColorLight;
  border: 1px solid $lightGray;
  transition: all ease-in-out 0.5s;

  &--image{
    img{
      width: 100%;
      border-radius: 5px;
      height: 275px;
      object-fit: cover;
    }
  }

  &--rating{
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    background-color: rgba(	33, 33, 33, 0.9);
    border-radius: 5px;
    padding: 5px 10px;

    .app-icon{
      margin-right: 5px;
      color: #d4af37;
      padding-bottom: 4px;
    }
  }

  &--title{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0.5rem;
    height: 30px;
  }

  &:hover{
    opacity: 1;
    scale: 1.03;
  }

}
